<h1> VOTE HERE, here is where we will put the form </h1>
<form action="/board/create/" method="update">
    <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
    <div>Add Gamer Name: <input id="name" name="name" type="string"></div> <br>
   	

    <input type="submit" onclick="update()" value="submit" style="background-color: green; border-radius: 200px;">

</form>

<form action="board/voting" method="">




